{% extends "base.html" %}

{% block title %} Short URL {% endblock %}

{% block content %}
<section id="urlbox">
    <h1>Paste the URL to be shortened</h1>
    <form method="post" action="">{% csrf_token %}
        <div id="formurl">
            <input type="text" name="url" placeholder="Enter the link here">
            <div id="formbutton">
                <input type="submit" value="Shorten URL">
            </div>
        </div>
        <input style="margin-top: 5px" type="text" name="custom_slug" placeholder="Enter the custom slug">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
        <p class="boxtextcenter" style="color: red">{{ field }}: {{ error }}</p>
            {% endfor %}
        {% endfor %}
    </form>
    <h2 class="boxtextcenter"><a href="{% url 'urls' %}">Your Short URL list</a></h2><br>
    <p class="boxtextcenter">
        Use our URL Shortener to create a shortened link making it easy to remember
    </p>
</section>
{% endblock %}
