{% extends "base.html" %}

{% block title %} Short URL {% endblock %}

{% block content %}
<section id="content">
    {% for url in data %}
    <div>
        <h15>CREATED AT: {{ url.created_at }} Total clicks: {{ url.clicks.count }}</h15>
        <h2>{{ url.url }}</h2>
        <p>
            <a href="{% url 'redirect' url.slug %}">{{ request.build_absolute_uri|slice:":-4" }}{{ url.slug }}</a>
        </p>
    </div>
    {% endfor %}
    {% include "pagination.html" with page=data %}
</section>
{% endblock %}